<h1 class="text-2xl">Pull Request Stats</h1>

<div class="grid grid-flow-col gap-4">
  <%= render(
    "_repository_links",
    locals: {
      title: "All Repositories",
      path: "/all",
      years_and_months: PullRequest.years_and_months,
      month_names: @month_names
    }
  ) %>

  <% @repositories.each do |repository| %>
    <%= render(
      "_repository_links",
      locals: { 
        title: repository.key,
        path: "/#{repository.key}",
        years_and_months: repository.years_and_months,
        month_names: @month_names
      }
    ) %>
  <% end %>
</div>
