<h1 class="text-2xl"><%= @view.title%></h1>

<div class="grid grid-cols-2 gap-4">
  <div>
    <h2 class="text-xl">Pull Request Creations</h2>

    <%= render(
      "_count_table",
      locals: { counts: @view.pull_request_counts, developers: @view.developers }
    ) %>
  </div>

  <div>
    <h2 class="text-xl">Pull Request Reviews</h2>

    <%= render(
      "_count_table",
      locals: { counts: @view.reviews, developers: @view.developers }
    ) %>
  </div>
</div>
